
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

th, td {
  font-size:2em;
  border-color: #96D4D4;
  border-style: dotted;
}

caption {
font-size: 5em;
}

.tr:hover {
  background-color: coral;
}